.button{
    -fx-background-color: transparent; /* Set the background color */
    -fx-padding: 10px, 10px, 10px, 10px;
}

.button:hover {
    -fx-background-color: #1685e0;
    -fx-opacity: 0.8;
}



